<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
	xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation = "http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="TheFirstTraveler" class="intra.bca.co.id.common.Traveler">
		<constructor-arg ref="car"></constructor-arg>
		<property name = "origin" value = "Jakarta" />
		<property name = "destination" value = "Surabaya" />
	</bean>
	<!--
	<bean id="TheSecondTraveler" class="intra.bca.co.id.common.Traveler">
		<property name = "car" ref = "theOtherCar" />
		<property name = "origin" value = "Surabaya" />
		<property name = "destination" value = "Bandung" />
	</bean>
	-->
	<!-- autowiring byname-->
	<bean id="TheThirdTraveler" class="intra.bca.co.id.common.Traveler" autowire = "byName">
		<property name = "origin" value = "Bandung" />
		<property name = "destination" value = "Semarang" />
	</bean>
	<!-- autowiring constructor-->
	<bean id="TheFourthTraveler" class="intra.bca.co.id.common.Traveler" autowire = "constructor">
		<property name = "origin" value = "Sukabumi" />
		<property name = "destination" value = "Jogja" />
	</bean>
	
	<!-- autowiring byType-->
	<bean id="TheFifthTraveler" class="intra.bca.co.id.common.Traveler" autowire = "byType">
		<property name = "origin" value = "Semarang" />
		<property name = "destination" value = "Sukabumi" />
	</bean>

	<bean id = "car" class = "intra.bca.co.id.common.Car">
		<constructor-arg type = "java.lang.String">
			<value>Mercedes-Benz</value>
		</constructor-arg>
		
		<constructor-arg type = "java.lang.String">
			<value>S-Class S550 4MATIC</value>
		</constructor-arg>
		
		<constructor-arg type = "java.lang.String">
			<value>4.7L V8 Twin Turbocharger</value>
		</constructor-arg>
		
		<constructor-arg type = "java.lang.String">
			<value>Automiatic 7-Speed</value>
		</constructor-arg>
		
		<constructor-arg type = "java.lang.String">
			<value>Gasoline</value>
		</constructor-arg>
		
		<property name = "motion" value = "My human spirit is moving to the future..." />	
	</bean>
	<!--
	<bean id = "theOtherCar" class = "intra.bca.co.id.common.Car">
		<constructor-arg type="java.lang.String"> 
			<value>BMW</value>
		</constructor-arg>
		
		<constructor-arg type="java.lang.String"> 
			<value>7 Series 740Li</value>
		</constructor-arg>
		
		<constructor-arg type="java.lang.String"> 
			<value>3.0L 16</value>
		</constructor-arg>
		
		<constructor-arg type="java.lang.String"> 
			<value>Automatic 8-Speed</value>
		</constructor-arg>
		
		<constructor-arg type="java.lang.String"> 
			<value>Gasoline</value>
		</constructor-arg>
		
		<property name="motion" value="I am moving with pleasure. What an ultimate experience..."/>
	</bean>
	-->
</beans>

